/*main color*/
body {
  background-color: #B2D8D8;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');


/*///////////////////////////////////////////////////////
////////////////////////////////////////////////////////
             Top navigation
///////////////////////////////////////////////////////
//////////////////////////////////////////////////////*/

/* navbar color and stick */
.topnav {
 background-color: #006666;
 overflow: hidden;
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;
}

/* link styles */
.topnav a {
 font-family: 'Playfair Display SC', serif;
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

/*link hover*/
.topnav a:hover {
 background-color: #F76D32;
 color: black;
}

/* Active page */
.active {
 background-color: #004C4C;
 color: white;
}

/* hide links on small screen*/
.topnav .icon {
 display: none;
}

/* responsive navbar*/
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* icon functionality  */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
}


/*
///////////////////////////////////////////////////////
////////////////////////////////////////////////////////
                    about page
////////////////////////////////////////////////////*/

/*image responsive*/

.topimage {
  border-radius:50%;
  height: 25%;
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.heading {
  background-color: #F76D32;
  padding-bottom: 45px;
  color: white;

}

.about {
  text-align: center;
}

.porfolio {
  padding: 50px 50px 100px 50px;
  text-align: center;
}


/*/////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
                      blog
//////////////////////////////////////////////////////////////////*/

.contents h1 {
  text-align: center;
}

.contents {
  padding: 50px 50px 100px 50px;
}

/*/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
                      blog Posts
/////////////////////////////////////////////////////////////////////////*/

.post h2 {
  text-align: center;
  padding-top: 25px;
}

.post p {
  float: none;
  padding: 25px 100px 25px 100px;
  line-height: 2.0;
}
